<!DOCTYPE html>
<html>
  <head>
    <title>kleptogram.co</title>
    <link rel='stylesheet' href='/bower/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/bower/jquery/jquery.min.js'></script>
    <script src='/bower/bootstrap/dist/js/bootstrap.min.js'></script>
  </head>
  <body>
